@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

.comm-page-contactsupport input, select, textarea {
  color: black;
}

.comm-page-contactsupport input:focus, select:focus, textarea:focus {
  outline: 2px #0060CC solid;
}

.comm-page-contactsupport .cb-section_background {
  background-color: black;
}

.comm-page-contactsupport div.cb-section_column.slds-size_12-of-12.slds-max-medium-size_12-of-12.slds-large-size_6-of-12 div[data-region-name="1"] {
  background-color: #1E1E1E;
  border-radius: 0.5rem;
  padding: 30px 50px;
  color: white;
  height: 100%;
}

.comm-page-contactsupport .slds-form-element__label {
  color: white;
}

.comm-page-contactsupport .slds-button_neutral {
  font-size: 1rem;
  background-color: #8D8D8D;
  border: 0;
  padding: 5px 20px;
  margin-right: 0.5rem;
  transition: all 0.3 ease;
}

.comm-page-contactsupport .slds-button_neutral:hover {
  color: white;
  background-color: #8D8D8D;
}

.comm-page-contactsupport .slds-button:focus {
  outline: 2px solid #0060CC;
}

.comm-page-contactsupport div.cb-section_column.slds-size_12-of-12.slds-max-medium-size_12-of-12.slds-large-size_6-of-12 div[data-region-name="02785"] {
  background-color: #1E1E1E;
  border-radius: 0.5rem;
  color: white;
  padding: 30px 50px;
  height: 100%;
}

.comm-page-contactsupport .comm-topic-trending-articles ul li a {
  color: #000000;
  background-color: white;
  border-radius: 0.5rem;
  padding: 10px 20px;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.comm-page-contactsupport .comm-topic-trending-articles ul li a:hover {
  color: #fff;
  background-color: #7E7E7E;
}

.comm-page-contactsupport .comm-topic-trending-articles ul li a:focus {
  outline: 2px solid #0060CC;
}

.comm-page-contactsupport div.ui-widget:nth-child(2) {
  background-color: black;
}

.comm-page-contactsupport .cb-section_row {
  max-width: 110rem;
}

.comm-page-contactsupport .forceCommunitySection .cb-section_column {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.comm-page-contactsupport .forceCommunitySection .cb-section_column:nth-last-child(1) {
  padding-top: 0px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1024px) {
  .comm-page-contactsupport .forceCommunitySection .cb-section_column {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 20px!important;
  }

  .comm-page-contactsupport .forceCommunitySection .cb-section_column:nth-last-child(1) {
    padding-top: 20px!important;
  }
}

.comm-page-contactsupport .footer {
  margin: 0;
}

